$first-color: #F8F8F8;
$second-color: #E3B04B;
$third-color: #2B2B28;
$font-first: 'Dancing Script', cursive;
$font-second: 'Open Sans Condensed', sans-serif;
/*
font-family: 'Dancing Script', cursive;
font-family: 'Open Sans Condensed', sans-serif;
*/


.navbar-light {
    .navbar-brand {
    color: $second-color;
    font-weight: 700;
    letter-spacing: 5px;
    font-style: oblique;
    }
}

.navbar-light {
    .navbar-brand:hover {
    color: $first-color;
    }
}

.navbar-light{
    .navbar-nav {
        .nav-link {
        color: $first-color;
        font-weight: 500;
        font-style: oblique;
        letter-spacing: 2px;
        }
    }
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $second-color;
    font-weight: 500;
}


.navbar-brand {
    font-family: $font-first;
    font-size: 24px;
    color: $first-color;
}

.bg-img {
    background-image: url("https://i.postimg.cc/JnTpbm45/1.jpg");
    min-height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.carousel-caption{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nav-h1{
    font-family: $font-first;

    .btn-1{
        background:$second-color;      
        border: none;
        color: $first-color;
    }

    .btn-1:hover {
        background: $first-color;
        color: $second-color;
    }
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-collapse {
    flex-grow: 0;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 42px;

    h2{
        font-size: 42px;
        font-weight: 800;
        color: $third-color;
        font-family: $font-second;
    }

    h3{
        font-size: 18px;
        font-family: $font-second;
        opacity: 0.8;
        font-style: oblique;
    }
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: $font-first;
    margin-bottom: 42px;

    i{
        color: $second-color;
        font-size: 68px;
    }

    h4 {
        font-size: 28px;
        font-weight: 300;
        margin: 12px 0;
    }

    h5{
        font-size: 14px;
        opacity: 0.8;
    }

}

.services-icons {
    margin-bottom: 70px;
}


.card {
    align-items: center;
    font-family: $font-second;

    .card-title {
        font-weight: 600;
    }

    .card-text {
        display: flex;
        justify-content: center;
        font-style: oblique;
        letter-spacing: 3px;      
    }
}

.bg {
    background-color: $first-color;
    padding-top: 70px;
    padding-bottom: 100px;
}

.portfolio{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.card {
    border:none;
}

.footer{
    margin: 32px 0;
    display: flex;
    align-items: center;
}

.sites-box{
    display: flex;
    justify-content: center;
    .sites{
        flex-direction: row;
        color: $third-color;
        font-size: 42px;
        margin: 0 4px;
    }
}

@media(max-width: 1200px) {

    .nav-link{
        font-size: 12px;

    } 
    
    .introdution-mobile-h2 {
        font-size: 16px;

    }
    .introdution-mobile-h1{
    font-size: 32px;
    }

    .services{
        text-align: center;
    }

    .information{
        margin:12px 12px;
    }

    .footer{
        text-align: center;
        font-size: 9px;
        margin: 12px 0;
        .sites{
            font-size: 24px;
        }
    }

}